<div class="occupation-list-col">
	<span>Filter by: </span><input [(ngModel)]="filterStr" placeholder="Filter text">
	<div class="occupations">
		<ng-container *ngFor="let occupation of occupations">
			<div *ngIf="filter(occupation.name)" class="occupation" [class.selected]="occupation === selectedOccupation" (click)="onSelect(occupation)">
				<!--<span *ngIf="email == 'phil.berman@mailinator.com'" (click)="onEdit(occupation)" class="edit">!</span>
				<span *ngIf="email == 'phil.berman@mailinator.com'" (click)="onDelete(occupation)" class="delete">X</span>-->
				<span class="view">{{occupation.name}}</span>
			</div>
		</ng-container>
	</div>

	<!--<div *ngIf="editedOccupation.name.length > 0">
		<br>
		Edit {{editedOccupation.name}}<br>
		New Name: <input #editedOccupationName placeholder="{{editedOccupation.name}}">
		<button (click)="onEditSave(editedOccupationName.value); editedOccupation.name=''">Save</button>
		<button (click)="editedOccupation.name=''">Cancel</button>
	</div>-->
	<div >
		<br>
		<p>Add Occupation:</p>
		<input #newOccupationName placeholder="New Occupation Name">
		<button (click)="addOccupation(newOccupationName.value); newOccupationName.value=''">Add</button>
	</div>
</div>
<!--<occupation-members  *ngIf="selectedOccupation.name.length > 0" [occupation]="selectedOccupation"></occupation-members>-->