<div class="industry-list-col">

	<span>Filter by: </span><input [(ngModel)]="filterStr" placeholder="Filter text">
	<div class="industries">
		<ng-container *ngFor="let industry of industries">
			<div *ngIf="filter(industry.name)" class="industry" [class.selected]="industry === selectedIndustry" (click)="onSelect(industry)">
				<!--<span *ngIf="email == 'phil.berman@mailinator.com'" (click)="onEdit(industry)" class="edit">!</span>
				<span *ngIf="email == 'phil.berman@mailinator.com'" (click)="onDelete(industry)" class="delete">X</span>-->
				<span class="view">{{industry.name}}</span>
			</div>
		</ng-container>
	</div>

	<!--<div *ngIf="editedIndustry.name.length > 0">
		<br>
		Edit {{editedIndustry.name}}<br>
		New Name: <input #editedIndustryName placeholder="{{editedIndustry.name}}">
		<button (click)="onEditSave(editedIndustryName.value); editedIndustry.name=''">Save</button>
		<button (click)="editedIndustry.name=''">Cancel</button>
	</div>-->
	<div>
		<br>
		<p>Add Industry:</p>
		<input #newIndustryName placeholder="New Industry Name">
		<button (click)="addIndustry(newIndustryName.value); newIndustryName.value=''">Add</button>
	</div>
</div>

<!--<industry-members *ngIf="selectedIndustry.name.length > 0" [industry]="selectedIndustry"></industry-members> -->