<div class="member-col">
  <div class="member-content">
    <h3>Last edited: {{this.lastEditDate}}</h3>
    <table>
      <tr>
        <td class="label">Name</td><td class="field">{{member.first}} {{member.last}}</td>
      </tr>
      <tr>
        <td class="label">Address</td>
        <td class="field">{{member.address}}<br>
          {{member.city}}, {{member.state}} {{member.zip}}
        </td>
      </tr>
      <tr>
        <td class="label">Phone</td><td class="field">{{member.phone}}</td>
      </tr>
      <tr>
        <td class="label">Email 1</td><td class="field">{{member.email1}}</td>
      </tr>
      <tr>
        <td class="label">Email 2</td><td class="field">{{member.email2}}</td>
      </tr>
      <tr *ngIf="hasPrefComm()">
        <td class="label">Preferred Communication Type(s):</td>
        <td class="field">{{this.prefComm}}</td>
      </tr>
      <tr>
        <td class="label">LinkedIn</td><td class="field"><a href="{{member.linkedin}}" target="_blank">{{member.linkedin}}</a></td>
      </tr>
      <tr>
        <td class="label">Date joined group</td><td class="field">{{member.joinDate}}</td>
      </tr>
      <tr>
        <td class="label">Currently employed</td>
        <td class="field" *ngIf="member.currentlyEmployed==true">Yes</td>
        <td class="field" *ngIf="member.currentlyEmployed==false">No</td>
      </tr>
      <tr *ngIf="member.currentlyEmployed==true">
        <td class="label">Current employment</td>
        <td class="field">{{this.employmentFrom}} to present</td>
      </tr>
      <tr *ngIf="member.currentlyEmployed==false">
        <td class="label">Last employment</td>
        <td class="field">{{this.employmentFrom}} to {{this.employmentTo}}</td>
      </tr>
      <tr>
        <td class="label">Company</td><td class="clickable field" (click)="onSelectComp(employmentCompany)">{{employmentCompany.name}}</td>
      </tr>
      <tr>
        <td class="label">Employment description</td><td class="field">{{member.employmentDescription}}</td>
      </tr>
      <tr>
        <td class="label">Why I joined the group</td><td class="field">{{member.whyJoined}}</td>
      </tr>
      <tr>
        <td class="label">Interests</td><td class="field">{{member.interests}}</td>
      </tr>
      <tr>
        <td class="label">How the group can help</td><td class="field">{{member.needs}}</td>
      </tr>
      <tr>
        <td class="label">What I can do for others</td><td class="field">{{member.canDo}}</td>
      </tr>
      <tr>
        <td class="label">I have contacts in these industries/companies</td>
        <td class="field">
          <ul>
            <li *ngFor="let company of memberCompanies"
                 class="clickable"
                 (click)="onSelectComp(company)">
		      {{company.name}}
		    </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="label">Professional Organizations / Associations</td>
        <td class="field">
          <ul>
            <li *ngFor="let organization of memberOrganizations"
                class="clickable"
                (click)="onSelectOrg(organization)">
		      {{organization.name}} <span *ngIf="organization.abbreviation">({{organization.abbreviation}})</span>
		    </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="label">Plan A</td><td class="field">{{member.planA}}</td>
      </tr>
      <tr>
        <td class="label">Plan B</td><td class="field">{{member.planB}}</td>
      </tr>
      <tr>
        <td class="label">Plan C</td><td class="field">{{member.planC}}</td>
      </tr>
      <tr>
        <td class="label">Target companies</td>
        <td class="field">
          <ul>
            <li *ngFor="let target of memberTargets"
                 class="clickable"
                 (click)="onSelectComp(target)">
		      {{target.name}}
		    </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="comp-info" *ngIf="selectedCompany != null">
    <company-members [company]="selectedCompany"></company-members>
  </div>
  <div class="org-info" *ngIf="selectedOrganization != null">
    <organization-members [organization]="selectedOrganization"></organization-members>
  </div>
</div>