<div>
	<br>
	If you have forgotten your password, or are a new user and have not set one yet, enter your email address in the input box below and click 'Send Password Reset Email'.  You will be sent an email containing a password reset link.<br>
	<br>
	<label for="exampleInputEmail1">Email address: </label><br>
	<input type="email" [(ngModel)]="email" id="email" name="email" placeholder="Email" required><br>
	<button type="buton" (click)="sendPasswordResetEmail()" [disabled]="this.email.length == 0">Send Password Reset Email</button>
	<div class="message">{{message}}</div>
	<!--
	<form name="userform" method="post" #formCtrl="ngForm">
		<table>
			<tr>
				<td class="label">
					
				</td>
				<td class="field">
					
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td class="label">
					<label for="exampleInputPassword1">Password:</label>
				</td>
				<td class="field"><input type="password" class="form-control" [(ngModel)]="user.password" id="password" name="password" placeholder="Password" required>
				</td>
				<td >
					
				</td>
			</tr>
		</table>
	</form>
	-->
</div>