.members {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.member {
  width: 280px;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #FFAAAA;
	padding: 5px 5px 0px 5px;
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
  border-radius: 4px;
  border: 1px solid black;
}
.member:hover {
  background-color: #D0D0F0;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
label {
	font-weight: bold;
}
.label-wrapper {
	width: 100%;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 0px 5px;
}
.meeting-col {
  font-family: "Arial", sans;
  float: left;
  width: 500px;
  border: 1px solid black;
  margin-right: 5px;
  padding: 5px;
  background-color: #FFFFFF;
}
.tabs {
	width: 100%;
	height: 30px;
}
.selected {
	background-color: #AAAAFF;
	border: 2px solid black;
}
.meetingTab {
	border: 1px solid black;
	background-color: #FFFFFF;
  margin-right: 5px;
  padding: 5px;
}
.selectedTab {
	border: 1px solid black;
	background-color: #AAAAFF;
  margin-right: 5px;
  padding: 5px;
}
/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/