<!--
<h1>{{title}}</h1>
Sort by: <button (click)="first()">first name</button>
<button (click)="last()">last name</button>
<input [(ngModel)]="filterStr" placeholder="Filter by">
<!-- <ul class="heroes">
<div class="heroes">
  <ng-container *ngFor="let member of members"
    [class.selected]="member === selectedMember">
    <div *ngIf="sortByLastName==false && filter(member.first, member.last)" class="member">
      <!-- <span class="badge">{{member.id}}</span>
      <span class="badge">Edit</span>
      <span (click)="onSelect(member)">{{member.first}} {{member.last}}</span>
    </div>
    <div *ngIf="sortByLastName==true && filter(member.first, member.last)" class="member">
      <!-- <span class="badge">{{member.id}}</span>
      <span class="badge">Edit</span>
      <span (click)="onSelect(member)">{{member.last}}, {{member.first}}</span>
    </div>
  </ng-container>
</div>
<!-- </ul>
<div *ngIf="selectedMember">
  <h2>
    {{selectedMember.first | uppercase }} is the selected Member
  </h2>
  <button (click)="gotoDetail()">View Datasheet</button>
</div>
-->

<h1>Edit page goes here</h1>