<div class="company-list-col">
	<span>Filter by: </span><input [(ngModel)]="filterStr" placeholder="Filter text">
	<div class="companies">
		<ng-container *ngFor="let company of companies">
			<div *ngIf="filter(company.name)" class="company" [class.selected]="company === selectedCompany" (click)="onSelect(company)">
				<!--<span *ngIf="email == 'phil.berman@mailinator.com'" (click)="onEdit(company)" class="edit">!</span>
				<span *ngIf="email == 'phil.berman@mailinator.com'" (click)="onDelete(company)" class="delete">X</span>-->
				<span class="view">{{company.name}}</span>
			</div>
		</ng-container>
	</div>

	<!--<div *ngIf="editedCompany.name.length > 0">
		<br>
		Edit {{editedCompany.name}}<br>
		New Name: <input #editedCompanyName placeholder="{{editedCompany.name}}">
		<button (click)="onEditSave(editedCompanyName.value); editedCompany.name=''">Save</button>
		<button (click)="editedCompany.name=''">Cancel</button>
	</div>-->
	<!--<div *ngIf="email == 'phil.berman@mailinator.com'">-->
	<div>
		<br>
		<p>Add Company:</p>
		<input #newCompanyName placeholder="New Company Name">
		<button (click)="addCompany(newCompanyName.value); newCompanyName.value=''">Add</button>
	</div>
</div>
<!--<div *ngIf="selectedCompany.name.length > 0" class="company-col">-->
	<company-members *ngIf="selectedCompany.name.length > 0" [company]="selectedCompany"></company-members>
<!--</div>-->