h1 {
  font-family: "Arial", sans;
  margin: 5px;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.company-content {
  height: calc(100% - 10px);
}
.company {
  width: 380px;
  cursor: pointer;
	position: relative;
  background-color: #fff0f0;
	padding-left: 5px;
	margin-bottom: 5px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
  border-radius: 4px;
  border: 1px solid black;
}
.company:hover {
  background-color: #ddf;
}
.company-list-col {
  font-family: "Arial", sans;
  float: left;
  width: 400px;
  max-height: calc(100% - 12px);
  overflow: auto;
	border: 1px solid black;
	margin-right: 5px;
  padding: 5px;
  background-color: #FFFFFF;
}

.company-col {
  float: left;
	width: 300px;
	max-height: calc(100% - 12px);
	overflow: auto;
  background-color: #FFFFFF;
}


/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/