<div class="member-list-col">
	Sort by: <button (click)="first()">first name</button>
	<button (click)="last()">last name</button>
	<br>
	<span>Filter by: </span><input [(ngModel)]="filterStr" placeholder="Filter text">
	<div class="members">
		<ng-container *ngFor="let member of members">
			<div *ngIf="filter(member.first, member.last)" class="member" [class.selected]="member === selectedMember" (click)="onViewMemberDS(member)">
				<span *ngIf="email == member.email1" (click)="onEdit(member)" class="edit">!</span>
				<span *ngIf="sortByLastName==false" class="view">{{member.first}} {{member.last}}</span>
				<span *ngIf="sortByLastName==true" class="view">{{member.last}}, {{member.first}}</span>
			</div>
		</ng-container>
	</div>
	<div>
		<button (click)="addMember()">Add Member</button>
	</div>
</div>

<!--<div *ngIf="selectedMember != null" class="ds-col">-->
	<member-ds *ngIf="selectedMember != null" [member]="selectedMember"></member-ds>
<!--</div>-->